{% extends 'base.html.twig' %}

{% block title 'properties of agence_immo' %}

{% block body %}
    <h1>les biens</h1>
    <div class="row flex">
        {% for property in properties %}
            {% include 'components/card_property.html.twig' %}
        {% endfor %}
    </div>
    {{ knp_pagination_render(properties) }}
{% endblock %}